<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="post">
        {% csrf_token %}
        {% csrf_token %}
        Employee Name:<input type="text" name="name" value="{{emp_data.name}}"><br>
        Employee Age:<input type="text" name="age" value="{{emp_data.age}}"><br>
        Employee Company:<input type="text" name="company" value="{{emp_data.company}}"><br>
        Employee City:<input type="text" name="city" value="{{emp_data.city}}"><br>
        Employee Salary:<input type="text" name="salary" value="{{emp_data.salary}}"><br>
        <input type="submit" name="" Value="Update">

    </form>
</body>
</html>    